$red: red;
$blue: darkblue;
$lightBlue: cadetblue;
$green: green;
$pink: mediumvioletred;
$yellow: goldenrod;

body {
  font-family: Righteous, Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 15% 60% 23%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10 8vw);
  grid-auto-rows: 7vw;
}

.cell-red {
  background-image: radial-gradient($red 60%, scale-color($red, $lightness: +60%));
}
.cell-blue {
  background-image: radial-gradient($blue 60%, scale-color($blue, $lightness: +60%));
}
.cell-lightBlue {
  background-image: radial-gradient($lightBlue 60%, scale-color($lightBlue, $lightness: +60%));
}
.cell-green {
  background-image: radial-gradient($green 60%, scale-color($green, $lightness: +60%));
}
.cell-pink {
  background-image: radial-gradient($pink 60%, scale-color($pink, $lightness: +60%));
}
.cell-yellow {
  background-image: radial-gradient($yellow 60%, scale-color($yellow, $lightness: +60%));
}
.cell-any {
  background-image:
    radial-gradient(darkgreen, lightgreen)
}
.cell-none {
  background-image: radial-gradient(grey 60%, scale-color(grey, $lightness: +60%));
}

.cell {
  margin: 1px;
  text-align: center;
  vertical-align: middle;
  padding-top: 25%;
  border-radius: 5vw;
}

.owned {
  border-radius: 5px;
}


.btn {
  width: 100%;
  height: 6vw;
  border-radius: 5px;
}

.btn-red {
  background: scale-color($red, $lightness: +10%);
}
.btn-blue {
  background: scale-color($blue, $lightness: +10%);
}
.btn-lightBlue {
  background: scale-color($lightBlue, $lightness: +10%);
}
.btn-green {
  background: scale-color($green, $lightness: +10%);
}
.btn-pink {
  background: scale-color($pink, $lightness: +10%);
}
.btn-yellow {
  background: scale-color($yellow, $lightness: +10%);
}

.controls-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1em;
  row-gap: 1em;
}


.target {
  margin: 5px;
  width: 100%;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-radius: 5px;
  text-align: center;
}

.target-red {
  background: scale-color($red, $lightness: +10%);
}
.target-blue {
  background: scale-color($blue, $lightness: +10%);
}
.target-lightBlue {
  background: scale-color($lightBlue, $lightness: +10%);
}
.target-green {
  background: scale-color($green, $lightness: +10%);
}
.target-pink {
  background: scale-color($pink, $lightness: +10%);
}
.target-yellow {
  background: scale-color($yellow, $lightness: +10%);
}

.status {
  text-align: center;
}
.header {
  font-size: large;
  margin-top: 1em;
  margin-bottom: 1em;
}
.turns-left {
  font-size: xx-large;
}

.game-status {
  text-align: center;
  margin-top: 10em;
  font-size: xx-large;
}
.btn-status {
  margin-top: 2em;
  font-size: xx-large;
  border-radius: 0.5em;
  border: 2px solid black;
  padding: 1em;
  font-family: Righteous, Arial, Helvetica, sans-serif;
}
